/* General */

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

html,
body,
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.mapTitle {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 999;
    margin-left: 50px;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #dcdde4;
}

#examples {
    margin-top: 20px;
    margin-left: 20px;
}

h2 {
    font-weight: 100;
}

ul a {
    font-size: 16px;
    color: white;
}

.sidenav {
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    background-color: #f8f8ff; /* #380011; */
    color: black; /*white;*/
    font-size: 12px;
    font-weight: normal;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px -1px;
}

.sidenav p {
    font-size: 14px;
    text-indent: 20px;
    margin: 8px 0 0px 0;
}

.sidenav li {
    width: 190px;
    text-align: right;
    overflow-x: hidden;
    right: 20px;
}

.sidenav a {
    text-decoration: none;
    color: #818181;
}

.sidenav {
    display: block;
    transition: 0.13s;
}

/* No rounded borders */

.leaflet-bar,
.leaflet-control-layers,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-content-wrapper {
    border-radius: 0px !important;
}

/* Panel to interact with layers */

#floating-panel {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    background-color: #111;
    padding: 2px;
    opacity: 0.85;
}

#floating-panel ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

#floating-panel ul li > label {
    display: block;
    margin: 2px;
}

#floating-panel ul li {
    margin-bottom: 10px;
}

.verticalRange {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    margin-left: -30px;
    margin-right: -30px;
    transform: rotate(270deg);
}

/* Popup*/

span.popupText {
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 48px;
    height: 18px;
    float: left;
    margin-right: 20px;

    opacity: 0.7;
}

.info {
    padding: 20px 60px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-bottom: 20px;
}

.info h4 {
    margin: 0 0 10px;
    color: #777;
}

#loading {
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.letter {
    color: #1691BA;
    font-size: 45px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    height: 50px;
    text-shadow: rgb(7, 13, 15) 2px 0px 0px, rgb(7, 13, 15) 1.75517px 0.958851px 0px, rgb(7, 13, 15) 1.0806px 1.68294px 0px, rgb(7, 13, 15) 0.141474px 1.99499px 0px, rgb(7, 13, 15) -0.832294px 1.81859px 0px, rgb(7, 13, 15) -1.60229px 1.19694px 0px, rgb(7, 13, 15) -1.97998px 0.28224px 0px, rgb(7, 13, 15) -1.87291px -0.701566px 0px, rgb(7, 13, 15) -1.30729px -1.5136px 0px, rgb(7, 13, 15) -0.421592px -1.95506px 0px, rgb(7, 13, 15) 0.567324px -1.91785px 0px, rgb(7, 13, 15) 1.41734px -1.41108px 0px, rgb(7, 13, 15) 1.92034px -0.558831px 0px;
    animation: boing .5s ease-in-out infinite alternate;
    -webkit-animation: boing .5s ease-in-out infinite alternate;
}

@keyframes boing {
    0% {
        transform: scale(1.0);
        transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
    100% {
        transform: scale(1.15);
        transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
}

div.generic-control-bar {
    position: absolute;
    display: block;
    z-index: 3;
    /* min-height: 10px; */
    /* background-color: rgba(232,232,232,0.95); */
    border: solid 1px rgb(212, 212, 212);
    /* right: 30px; */
}

div.year-control-bar {
    top: 8px;
    right: 18px;
    min-width: 120px;
}

div.year-button {
    position: relative;
    float: left;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    color: rgb(0, 0, 0);
    /* user-select: none; */
    vertical-align: middle;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: bold;
    font-size: inherit;
}

div.generic-button:hover {
    background-color: rgb(235, 235, 235);
}

div.generic-control-bar {
    position: absolute;
    height: 40px;
    display: block;
    z-index: 3;
    /* min-height: 10px; */
    /* background-color: rgba(232,232,232,0.95); */
    border: solid 1px rgb(212, 212, 212);
    right: 18px;
    align-content: center;
    vertical-align: middle;
    font-weight: 900;
    font-size: larger;
}

div.plot-control-bar {
    position: absolute;
    float: left;
    /*top: 60px;*/
    /*right: 18px;*/
    /*min-width: 120px;*/
        top: 67px;
    right: 62px;
}

div.generic-button {
    position: relative;
    float: left;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    color: rgb(0, 0, 0);
    user-select: none;
    vertical-align: middle;
    line-height: 29px;
    background-color: rgb(255, 255, 255);
    width: 44px;
    height: 38px;
    -webkit-background-clip: padding-box;
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: bold;
}

div.generic-button:hover {
    background-color: rgb(235, 235, 235);
}

.toshow {
    visibility: hidden;
}

#year-selected {
    min-width: 49px;
}

#year-selected:hover {
    background-color: rgb(255, 255, 255);
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.leaflet-popup-content {

}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}



.custom-control-container {
    width: 112px;
    max-height: 30px;
    margin: 5px;
    /* cursor: pointer; */
    /* text-align: left; */
    z-index: 3;
    /* position: absolute; */
    /* top: 40px; */
    /* right: 20px; */
}

/*Metric TYPE CONTROLLER*/
.metricTypeDIV {
    width: 112px;
    cursor: pointer;
    text-align: left;
    z-index: 3;
    position: relative;
    right: 0px;
    margin-bottom: 60px;
}

.simTypeDIV {
    width: 112px;
    cursor: pointer;
    text-align: left;
    z-index: 3;
    position: relative;
    right: 0px;
    margin-bottom: 60px;
}

/*Basemap Controller*/
.baseMapDIV {
    cursor: pointer;
    z-index: 3;
    position: relative;
    margin-bottom: 60px;
}

.baseMapControl {
    direction: ltr;
    overflow: hidden;
    text-align: left;
    position: relative;
    -webkit-user-select: none;
    padding: 6px 8px 8px 5px;
    border-radius: 2px;
    border: solid 1px rgb(212, 212, 212);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    text-align: left;
    width: 120px;
}

.baseMapControl:hover {
    background: rgb(235, 235, 235);
}


.baseMapTypeOptions {
    background-color: white;
    z-index: 3;
    position: relative;
    padding-top: 0px;
    border: 0px;
    display: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 130px;
}

.baseMapTypeItem {
    display: block;
    -webkit-user-select: none;
    padding: 6px 5px 6px 5px;
    font-weight: 400;
    text-align: left;
    text-indent: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.baseMapTypeItem:hover,
.checkboxContainer:hover {
    background-color: rgb(235, 235, 235);

}

.baseMapTypeItem.selected{
    background-color: rgb(235, 235, 235);
}
/*Basemap Controller*/


.separatorDiv {
    margin-top: 1px;
    border-top: 1px solid rgb(235, 235, 235);
}

.leaflet-control-colorBar-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: large;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}




div.bar {
    display: block;
    float: right;
    right: 0px;
    min-width: 20px;
    height: 100%;
    margin-top: 1px;
    user-select: none;
}

div.bar-row {
    display: inline-flex;
    min-height: 40px;
    margin-top: 1px;
}

div.bar-label {
    margin-left: auto;
    margin-right: 2px;
    transform: translateY(calc(100% - 13px));
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    user-select: none;
    color: black;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.leaflet-popup-content {

}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*.legend {*/
/*text-align: left;*/
/*line-height: 18px;*/
/*color: #555;*/
/*}*/

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#div_plot {
    height: 450px;
    min-height: 300px;
    width: calc(100% - 300px);
    min-width: 300px;
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    right: 150px;
    z-index: 3;
    user-select: none;
    background-color: #eeeeee;
    border: 0.7px solid #808080;
    border-top: none;
        box-sizing: content-box;
    padding-right: 1px;
}
#sliderMainDIV {
    position: absolute;
    width: calc(100% - 140px);
    display: none;
    bottom: 0px;
    left: -1px;
    background-color: #eeeeee;
    padding: 0px 70px 0px 70px;
    border: 0.7px solid #808080;
    max-height: 45px;
    border-top: none;
}
#slider{
    width:calc(30%)

}

#slider1{
 width: calc(100% - 131px);
    left: 74px;

}

.button-slider{
    margin: 5px 5px 5px 0px;
    float: left;
}

#sliderLabelDIV{
    color: black;
    float:right;
    font-weight: 500;
    font-size: larger;
}
.custom-control-container {
    /* width: 112px; */
    /* max-height: 30px; */
    margin: 5px;
    cursor: pointer;
    /* text-align: left; */
    z-index: 3;
    position: absolute;
    top: 120px;
    right: 30px;
    display: block;
    /* box-shadow: 0 0 11px black; */
    color: black;
    /* position: relative; */
}



.dropDownArrow {
    -webkit-user-select: none;
    position: absolute;
    width: 7px;
    height: 4px;
    border: 0px;
    padding: 0px;
    margin: -2px 0px 0px 0px;
    right: 6px;
    top: 50%;
}

.leaflet-control-colorBar-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: large;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}

div.bar {
    /* display: block; */
    /* float: right; */ /* right: 0px; */ /* min-width: 10px; */ /* height: 100%; */ /* margin-top: 1px; */ /* user-select: none; */
}

div.bar-row {
    /* display: inline-flex; */
    /* min-height: 40px; */
    /* margin-top: 1px; */
}


#colorbar {
    position: absolute;
    display: inline-grid;
    top: 55%;
    left: 8px;
    /* left: 150px; */
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-color: rgba(222, 222, 222, 0.5);
    padding: 6px 4px 8px 4px;
    width: max-content;
    z-index: 1;
    color: black;
}

#twodcolorbar {
    position: absolute;
    display: inline-table;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-color: rgba(222, 222, 222, 0.5);;
    padding: 6px 4px 8px 4px;
    width: 500px;
    z-index: 1;
}
div.bar {
    display: block;
    float: right;
    right: 0px;
    min-width: 20px;
    height: 100%;
    margin-top: 1px;
    user-select: none;
}

div.bar-row {
    display: inline-flex;
    min-height: 40px;
    margin-top: 1px;
}

div.bar-label {
    margin-left: auto;
    margin-right: 2px;
    transform: translateY(calc(100% - 13px));
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    user-select: none;
    color: black;
    font-size: large;
}


.screenshotbotton {
    position: relative;
}

        #myProgress {
            width: 100%;
            background-color: #ddd;
            z-index: 4;
        }

        #myBar {
            width: 10%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
            z-index: 4;
        }

        .easyPrintHolder .a3CssClass {
            background-image: url(data:image/svg+xml;utf8;base64,PD9...go=);
            position: relative;
        }



.easyPrintHolder .a3CssClass {
    background-image: url(data:image/svg+xml;utf8;base64,PD9...go=);
    position: relative;
}

input[type='checkbox'] {
    width: 12px !important;
    height: 12px !important;
    margin: -1px 10px 0px 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid black;
    box-shadow: none;
    font-size: 2em;
}

#legend {
    position: absolute;
    bottom: 163px;
    left: 25px;
    /* left: 1463px; */
    width: 127px;
    padding: 10px 20px;
    background: #d51919;
    color: #fafafa;
    z-index: 30;
    border: 1px solid #777;
}

div.legend {
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 12px;
}

div.mini_con {
    cursor: pointer;
    border-radius: 5px;
    background-position: center;
    padding: 4px;
    background-repeat: no-repeat;
    background-image: url(.././dist/images/wlist.png);
    width: 32px;
    height: 32px;
    vertical-align: middle;
    position: absolute;
    z-index: 40;
    box-shadow: 1px 1px 3px 0px #8e8e8e;
    top: calc(30%);
    left: calc(10%);
}

#con0 {
    display: block;
    position: absolute;
    overflow: auto;
    top: calc(30%);
    left: calc(10%);
    min-width: 276px;
    background: #ffffff;
    z-index: 30;
    border: 1px solid #777;
    box-shadow: 1px 1px 3px 0px #8e8e8e;
}


p {
    display: inline;
    padding: 0px;
}

p.key {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 300;
    line-height: 25px;

}

p.value {
    color: #555050;
    margin: 14px;
}

.break {
    display: block;
    margin: 10px;
}


.hide {
    display: none;
}

div.verticaltext {
    top: 50%;
    white-space: nowrap;
    text-align: left;
    left: 5px;
    position: absolute;
    width: max-content;
    margin: 0 0 0 0;
    transform: rotate(270deg) translateX(-50%);
    transform-origin: left;
    /*-ms-transform: rotate(270deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin:right, top;*/
    color: black; /*#2F4F4F;*/
}

div.ctrl-opacity {
    position: absolute;
    top: 10px;
    right: 314px;
    z-index: 60;
    box-shadow: 1px 1px 3px 0px #8e8e8e;
    /*padding-top: 3px;
    padding-right: 3px;
    padding-left: 10px;
    padding-bottom: 3px;*/
}

div.ctrl-button-opac {
    min-width: 26px;
}

div.ctrl-button {
    float: left;
    z-index: 60;
    margin-right: 0px;
    direction: ltr;
    overflow: hidden;
    top: 0px;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
}

.container-file-input{
    width: 100%;
    display: block;
    text-align: center;
}

input[type="file"]{
    margin: 5px;
}

.zoom_state_controller{
    display: block;
    -webkit-user-select: none;
    padding: 6px 5px 6px 5px;
    font-weight: 400;
    text-align: left;
    /* text-indent: 10px; */
    background-color: rgb(255, 255, 255);
    color: black;
    width: 120px;
    onclick:"zoom_state=$(this).data('zoomState ');"
}


#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em; /* font-size: 1.4em; */
    height: 18px;
}

#sortable li span {
    position: absolute;
    vertical-align: middle;
    margin-left: -1.3em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

#progressDIV {
    z-index: 1;
    display: none;
    top: 95%;
    left: 0;
    position: absolute;
    height: 30px;
    width: 100%;
    /* margin-bottom: 20px; */
    border-radius: 4px;
    overflow: auto;
}

#progressbar {
    width: 10%;
    height: 30px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: #000000;
    font-size: large;
    font-weight: bold;
    display: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradientBG 100ms ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




.checked {
    background-color: rgb(175, 193, 126);
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.js-plotly-plot,
.svg-container,
.plot-container {
    position: relative;
    height: 100%;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 10px;
    display: block;
    left: 100px;
    right: 150px;
    z-index: 3;
    /*box-sizing: content-box;*/
    padding-right: 1px;
    width: calc(100% - 300px);
    min-width: 300px;
    height: calc(15%);
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #808080;
    display: block;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: ghostwhite;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 17px;
    background-color: #ffffff;
    /* box-shadow: -1px 0px black; */
    border-color: black;
    /* text-shadow: 2px 2px 5px black; */
    font-family: inherit;
    /* text-shadow: 2px 0px 5px black; */
    box-shadow: 0 0 4px 0px black;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}


.animbutton {
    position: absolute;
    top: -30px;
    right: 0;
    float: left;
    font-style: italic;
    color: black;
    background: #cccccc;
    height: 30px;
    font-family: inherit;
}
.animbutton .active{
    display: block;
}

.animationIcons {
    cursor: pointer;
    padding: 0.5em 1em 0 1em;
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Style the tab content */
.tabcontent {
    display: block;
    /*padding: 30px 10px 0 0;*/
    border-top: none;
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
}


#claculatemetricsButton {
    background-color: rgb(45, 162, 81); /* Green */
    border: none;
    color: white;
    padding: 25px 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    z-index: 3;
    position: relative;
    top: 94px;
}

#claculatemetricsButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


#claculatemetricsButton {
    background-color: rgb(45, 162, 81); /* Green */
    border: none;
    color: white;
    padding: 25px 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    cursor: pointer;
    z-index: 3;
    position: relative;
    top: 20px;
}

#claculatemetricsButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    display:none;
}

.legendColorLabels{
    height: 19px;
    color: black;
    font-size: larger;
    font-weight: 400;
}

.legendColorStyle{
    height: 25px;
}